<div *ngIf="productAttribute">
	<h2 class="page-title">
		<span jhiTranslate="eshopApp.productAttribute.detail.title">Product Attribute</span> <small>{{productAttribute.id}}</small>
		<button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
			<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
		</button>
	</h2>
	<jhi-alert-error></jhi-alert-error>
	<section class="widget">
		<div class="body">
			<fieldset>
				<legend class="section">Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.productAttributeWeight"
						for="field_productAttributeWeight">Product Attribute Weight</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productAttributeWeight}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.productAttributePrice"
						for="field_productAttributePrice">Product Attribute Price</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productAttributePrice}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.attributeRequired" for="field_attributeRequired">Attribute
						Required</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.attributeRequired}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.attributeDefault" for="field_attributeDefault">Attribute
						Default</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.attributeDefault}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.attributeDisplayOnly" for="field_attributeDisplayOnly">Attribute
						Display Only</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.attributeDisplayOnly}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.productOptionSortOrder"
						for="field_productOptionSortOrder">Product Option Sort Order</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productOptionSortOrder}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.productAttributeIsFree"
						for="field_productAttributeIsFree">Product Attribute Is Free</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productAttributeIsFree}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.productAttribute.attributeDiscounted" for="field_attributeDiscounted">Attribute
						Discounted</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.attributeDiscounted}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right" jhiTranslate="eshopApp.productAttribute.productOption" for="field_productOption">Product
						Option</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productOption?.code}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right" jhiTranslate="eshopApp.productAttribute.product" for="field_product">Product</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.product?.code}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right" jhiTranslate="eshopApp.productAttribute.productOptionValue"
						for="field_productOptionValue">Product Option Value</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{productAttribute.productOptionValue?.id}}</p>
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</div>
