<div *ngIf="category">
	<h2 class="page-title">
		<span jhiTranslate="eshopApp.category.detail.title">Category</span> <small>{{category.id}}</small>
		<button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
			<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
		</button>
	</h2>
	<jhi-alert-error></jhi-alert-error>
	<section class="widget">
		<div class="body">
			<fieldset>
				<legend class="section">Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.category.code">Code</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{category.code}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.category.categoryStatus">Status</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{category.categoryStatus}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.category.merchantStore">merchantStore</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{category.merchantStore.storename}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.category.parent">Status</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{category.parent.code}}</p>
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</div>