
<div *ngIf="merchantConfiguration">
    <h2><span jhiTranslate="eshopApp.merchantConfiguration.detail.title">Merchant Configuration</span> {{merchantConfiguration.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.merchantConfiguration.merchantConfigurationType" for="field_merchantConfigurationType">Merchant Configuration Type</label>
            <select class="form-control" name="merchantConfigurationType" [(ngModel)]="merchantConfiguration.merchantConfigurationType" id="field_merchantConfigurationType" >
                <option value="INTEGRATION" jhiTranslate="eshopApp.MerchantConfigurationType.INTEGRATION">INTEGRATION</option>
                <option value="SHOP" jhiTranslate="eshopApp.MerchantConfigurationType.SHOP">SHOP</option>
                <option value="CONFIG" jhiTranslate="eshopApp.MerchantConfigurationType.CONFIG">CONFIG</option>
            </select>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.merchantConfiguration.key" for="field_key">Key</label>
            <input type="text" class="form-control" name="key" id="field_key"
                [(ngModel)]="merchantConfiguration.key"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.merchantConfiguration.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="merchantConfiguration.value"
             />
        </div>

    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
