<div>
    <h2 class="page-title">
        <span jhiTranslate="eshopApp.transaction.home.title">Transactions</span>
        <button class="btn btn-primary float-right create-transaction" [routerLink]="['../transaction-new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="eshopApp.transaction.home.createLabel">
            Create new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <section class="widget">
    <div class="body">
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3 offset-6">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eshopApp.transaction.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="transactions">
        <table class="table table-striped table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="details"><span jhiTranslate="eshopApp.transaction.details">Details</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transactionType"><span jhiTranslate="eshopApp.transaction.transactionType">Transaction Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="transactionDate"><span jhiTranslate="eshopApp.transaction.transactionDate">Transaction Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentType"><span jhiTranslate="eshopApp.transaction.paymentType">Payment Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="eshopApp.transaction.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="eshopApp.transaction.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="eshopApp.transaction.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="eshopApp.transaction.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="eshopApp.transaction.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order.id"><span jhiTranslate="eshopApp.transaction.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['../transaction', transaction.id ]">{{transaction.id}}</a></td>
                <td>{{transaction.details}}</td>
                <td jhiTranslate="{{'eshopApp.TransactionType.' + transaction.transactionType}}">{{transaction.transactionType}}</td>
                <td>{{transaction.transactionDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'eshopApp.PaymentType.' + transaction.paymentType}}">{{transaction.paymentType}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.createdBy}}</td>
                <td>{{transaction.createdDate | date:'mediumDate'}}</td>
                <td>{{transaction.lastModifiedBy}}</td>
                <td>{{transaction.lastModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="transaction.order">
                        <a [routerLink]="['../sales-order', transaction.order?.id ]" >{{transaction.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../transaction', transaction.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="transactions && transactions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
    </section>
</div>
