
<div *ngIf="transaction">
    <h2 class="page-title"><span jhiTranslate="eshopApp.transaction.detail.title">Transaction</span> {{transaction.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.details">Details</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{transaction.details}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.transactionType">Transaction Type</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.TransactionType.' + transaction.transactionType}}">{{transaction.transactionType}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.transactionDate">Transaction Date</span>
        </label>
        <div class="col-4">
            <span>{{transaction.transactionDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.paymentType">Payment Type</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.PaymentType.' + transaction.paymentType}}">{{transaction.paymentType}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.amount">Amount</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{transaction.amount}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.createdBy">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{transaction.createdBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.createdDate">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{transaction.createdDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.lastModifiedBy">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{transaction.lastModifiedBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.transaction.lastModifiedDate">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{transaction.lastModifiedDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.transaction.order">Order</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="transaction.order">
                <a [routerLink]="['/sales-order', transaction.order?.id]">{{transaction.order?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
