<ul id="side-nav" class="side-nav" style="margin-left: 5px;">
  <li [routerLinkActive]="['active']">
    <a routerLink="/">
    	<i class="fa fa-home"></i> 
    	<span class="name">Home</span>
    </a>
  </li>
  <!-- category -->
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="isCollapseCategory = !isCollapseCategory" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav">
			 <i class="fa fa-tag"></i>
			 <span class="name" jhiTranslate="global.menu.catalog.main">Catalog</span>
	</a>
    <ul id="collapseCategory" [ngbCollapse]="isCollapseCategory" class="accordion-body collapse" aria-expanded="false">
      <li [routerLinkActive]="['active']">
		<a routerLink="category">
			<span jhiTranslate="global.menu.entities.category">Category </span>
		</a>
	  </li>
      <li [routerLinkActive]="['active']">
		<a routerLink="product">
			<span jhiTranslate="global.menu.catalog.product">Product</span>
		</a>
	  </li>
      <li [routerLinkActive]="['active']"><a routerLink="product-option">
			<span jhiTranslate="global.menu.catalog.productOption">Product Option</span>
		</a>
	 </li>
	 <li [routerLinkActive]="['active']"><a routerLink="product-option-value">
			<span jhiTranslate="global.menu.catalog.productOptionValue">Product Option Value</span>
		</a>
	 </li>
	  <li [routerLinkActive]="['active']">
		<a routerLink="manufacturer">
			<span jhiTranslate="global.menu.entities.manufacturer">Manufacturer</span>
		</a>
	  </li>
    </ul>
  </li>
  <!-- merchant store -->
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="isCollapseMerchant = !isCollapseMerchant" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav">
			 <i class="fa fa-pencil"></i>
			 <span class="name" jhiTranslate="global.menu.entities.merchantStore">Merchant Store</span>
	</a>
    <ul id="collapseCategory" [ngbCollapse]="isCollapseMerchant" class="accordion-body collapse" aria-expanded="false">
 	  <li [routerLinkActive]="['active']">
			<a routerLink="merchant-store">
				<span jhiTranslate="global.menu.entities.merchantStore">Merchant Store</span>
			</a>
	  </li>      
	  <li [routerLinkActive]="['active']"><a routerLink="#">Article</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="#">Elements</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="#">Validation</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="#">Wizard</a></li>
    </ul>
  </li>
  <!-- setting -->
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a (click)="isCollapsedSetting = !isCollapsedSetting" class="accordion-toggle collapsed" data-toggle="collapse"
       data-parent="#side-nav">
			 <i class="fa fa-cog fa-fw"></i>
			 <span class="name" jhiTranslate="global.menu.setting.main">Setting</span>
	</a>
    <ul id="collapseCategory" [ngbCollapse]="isCollapsedSetting" class="accordion-body collapse" aria-expanded="false">
 	  <li [routerLinkActive]="['active']">
			<a routerLink="email-setting">
				<span jhiTranslate="global.menu.entities.emailSetting">Email Setting</span>
			</a>
	  </li>      
	  <li [routerLinkActive]="['active']">
			<a routerLink="product-option">
				<span jhiTranslate="global.menu.catalog.productOption">Product Option</span>
			</a>
	  </li>  
      <li [routerLinkActive]="['active']"><a routerLink="#">Elements</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="#">Validation</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="#">Wizard</a></li>
    </ul>
  </li>
</ul>

