<nav class=" hidden-xs-down bg-faded sidebar" style="padding-top: 66px;">
	<ul class="navbar-nav ml-auto menu-ul">
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="book" (click)="collapseNavbar()"> <i
				class="fa fa-home" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.categories.book">Book</span>
		</a></li>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="merchant-store" (click)="collapseNavbar()"> <i
				class="fa fa-home" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.entities.merchantStore">Merchant
					Store</span>
		</a></li>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="category" (click)="collapseNavbar()"> <i
				class="fa fa-tag" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.entities.category">Category</span>
		</a></li>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="product" (click)="collapseNavbar()"> <i
				class="fa fa-home" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.categories.product">Product</span>
		</a></li>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="customer" (click)="collapseNavbar()"> <i
				class="fa fa-home" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.entities.customer">Customer</span>
		</a></li>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="sales-order" (click)="collapseNavbar()"> <i
				class="fa fa-dollar" aria-hidden="true"></i> <span
				jhiTranslate="global.menu.entities.salesOrder">SalesOrder</span>
		</a></li>

		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="manufacturer" (click)="collapseNavbar()"> <i
				class="fa fa-home" aria-hidden="false"></i> <span
				jhiTranslate="global.menu.entities.manufacturer">Manufacturer</span>
		</a>
		<li class="nav-item menu-item" routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
			routerLink="payment" (click)="collapseNavbar()"> <i
				class="fa fa-credit-card" aria-hidden="false"></i> <span
				jhiTranslate="global.menu.payment.main">Payment</span>
		</a></li>
	</ul>
</nav>