
<div *ngIf="template">
    <h2 class="page-title"><span jhiTranslate="eshopApp.template.detail.title">Template</span> {{template.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.name">Name</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.name}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.superId">Super Id</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.superId}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.templateKey">Template Key</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.templateKey}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.content">Content</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.content}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{template.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{template.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.template.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{template.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>

</div>
</fieldset>
</div>
</section>
    
</div>
