
<div *ngIf="zone">
    <h2 class="page-title"><span jhiTranslate="eshopApp.zone.detail.title">Zone</span> {{zone.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.zone.code">Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{zone.code}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.zone.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{zone.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.zone.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{zone.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.zone.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{zone.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.zone.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{zone.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.zone.country">Country</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="zone.country">
                <a [routerLink]="['/country', zone.country?.id]">{{zone.country?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
