<div *ngIf="zone">
	<h2 class="page-title">
		<span>Create or edit</span> <small> <span [hidden]="!zone.id"> #id </span></small>
	</h2>
	<jhi-alert-error></jhi-alert-error>
	<section class="widget">
		<div class="body">
			<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
				<div class="row justify-content-center">
					<div class="col-5 form-group">
						<label class="form-control-label" jhiTranslate="eshopApp.zone.code" for="field_code">Code</label>
						<input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="zone.code" />
					</div>
					<div class="col-5 form-group">
						<label class="form-control-label" jhiTranslate="eshopApp.zone.last_modified_by"
							for="field_last_modified_by">Last Modified By</label> <input type="text" class="form-control"
							name="last_modified_by" id="field_last_modified_by" [(ngModel)]="zone.last_modified_by" />
					</div>
					<div class="col-5 form-group">
						<label jhiTranslate="eshopApp.zone.country" for="field_country">Country</label> <select
							class="form-control" id="field_country" name="country" [(ngModel)]="zone.country">
							<option [ngValue]="null"></option>
							<option [ngValue]="countryOption.id === zone.country?.id ? zone.country : countryOption"
								*ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
						</select>
					</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="offset-9">
							<button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
								<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
							</button>
							<button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
								<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>
