<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAttachmentLabel" jhiTranslate="eshopApp.attachment.home.createOrEditLabel">Create or edit a Attachment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!attachment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="attachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="attachment.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.content" for="field_content">Content</label>
            <div>
                <div *ngIf="attachment.content" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(attachment.contentContentType, attachment.content)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{attachment.contentContentType}}, {{byteSize(attachment.content)}}</span>
                    <button type="button" (click)="attachment.content=null;attachment.contentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, attachment, 'content', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                [(ngModel)]="attachment.content"
            required />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                [(ngModel)]="attachment.contentContentType" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.size" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="attachment.size"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.boName" for="field_boName">Bo Name</label>
            <input type="text" class="form-control" name="boName" id="field_boName"
                [(ngModel)]="attachment.boName"
            required />
            <div [hidden]="!(editForm.controls.boName?.dirty && editForm.controls.boName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.boName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.boId" for="field_boId">Bo Id</label>
            <input type="number" class="form-control" name="boId" id="field_boId"
                [(ngModel)]="attachment.boId"
            required />
            <div [hidden]="!(editForm.controls.boId?.dirty && editForm.controls.boId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.boId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.boId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.created_by" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="attachment.created_by"
            required />
            <div [hidden]="!(editForm.controls.created_by?.dirty && editForm.controls.created_by?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.created_by?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.created_date" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="attachment.created_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.last_modified_by" for="field_last_modified_by">Last Modified By</label>
            <input type="text" class="form-control" name="last_modified_by" id="field_last_modified_by"
                [(ngModel)]="attachment.last_modified_by"
            required />
            <div [hidden]="!(editForm.controls.last_modified_by?.dirty && editForm.controls.last_modified_by?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.last_modified_by?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.attachment.last_modified_date" for="field_last_modified_date">Last Modified Date</label>
            <div class="input-group">
                <input id="field_last_modified_date" type="text" class="form-control" name="last_modified_date" ngbDatepicker  #last_modified_dateDp="ngbDatepicker" [(ngModel)]="attachment.last_modified_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="last_modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
