<div>
    <h2 class="page-title">
        <span jhiTranslate="eshopApp.taxClass.home.title">Tax Classes</span>
        <button class="btn btn-primary float-right create-tax-class" [routerLink]="['../tax-class-new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="eshopApp.taxClass.home.createLabel">
            Create new Tax Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <section class="widget">
    <div class="body">
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3 offset-6">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eshopApp.taxClass.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taxClasses">
        <table class="table table-striped table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="eshopApp.taxClass.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="eshopApp.taxClass.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="eshopApp.taxClass.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="eshopApp.taxClass.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="eshopApp.taxClass.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="eshopApp.taxClass.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="merchantStore.id"><span jhiTranslate="eshopApp.taxClass.merchantStore">Merchant Store</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taxClass of taxClasses ;trackBy: trackId">
                <td><a [routerLink]="['../tax-class', taxClass.id ]">{{taxClass.id}}</a></td>
                <td>{{taxClass.title}}</td>
                <td>{{taxClass.code}}</td>
                <td>{{taxClass.createdBy}}</td>
                <td>{{taxClass.createdDate | date:'mediumDate'}}</td>
                <td>{{taxClass.lastModifiedBy}}</td>
                <td>{{taxClass.lastModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="taxClass.merchantStore">
                        <a [routerLink]="['../merchant-store', taxClass.merchantStore?.id ]" >{{taxClass.merchantStore?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tax-class', taxClass.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-class/'+ taxClass.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tax-class/'+ taxClass.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="taxClasses && taxClasses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
    </section>
</div>
