
<div *ngIf="taxClass">
    <h2 class="page-title"><span jhiTranslate="eshopApp.taxClass.detail.title">Tax Class</span> {{taxClass.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.title">Title</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{taxClass.title}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.code">Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{taxClass.code}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{taxClass.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{taxClass.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{taxClass.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.taxClass.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{taxClass.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.taxClass.merchantStore">Merchant Store</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="taxClass.merchantStore">
                <a [routerLink]="['/merchant-store', taxClass.merchantStore?.id]">{{taxClass.merchantStore?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
