
<div *ngIf="merchantLog">
    <h2 class="page-title"><span jhiTranslate="eshopApp.merchantLog.detail.title">Merchant Log</span> {{merchantLog.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.log">Log</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{merchantLog.log}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.module">Module</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{merchantLog.module}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{merchantLog.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{merchantLog.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{merchantLog.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.merchantLog.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{merchantLog.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.merchantLog.store">Store</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="merchantLog.store">
                <a [routerLink]="['/merchant-store', merchantLog.store?.id]">{{merchantLog.store?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
