
<div *ngIf="salesOrder">
    <h2 class="page-title"><span jhiTranslate="eshopApp.salesOrder.detail.title">Sales Order</span> {{salesOrder.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.customerId">Customer Id</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.customerId}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.confirmedAddress">Confirmed Address</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.confirmedAddress}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.orderDateFinished">Order Date Finished</span>
        </label>
        <div class="col-4">
            <span>{{salesOrder.orderDateFinished | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.total">Total</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.total}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.paymentModuleCode">Payment Module Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.paymentModuleCode}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.paymentType">Payment Type</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.PaymentType.' + salesOrder.paymentType}}">{{salesOrder.paymentType}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.locale">Locale</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.locale}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.channel">Channel</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.OrderChannel.' + salesOrder.channel}}">{{salesOrder.channel}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.customerEmailAddress">Customer Email Address</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.customerEmailAddress}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.orderType">Order Type</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.OrderType.' + salesOrder.orderType}}">{{salesOrder.orderType}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.status">Status</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.OrderStatus.' + salesOrder.status}}">{{salesOrder.status}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.lastModified">Last Modified</span>
        </label>
        <div class="col-4">
            <span>{{salesOrder.lastModified | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.currencyValue">Currency Value</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.currencyValue}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.datePurchased">Date Purchased</span>
        </label>
        <div class="col-4">
            <span>{{salesOrder.datePurchased | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.shippingModuleCode">Shipping Module Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.shippingModuleCode}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.ipAddress">Ip Address</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.ipAddress}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.customerAgreement">Customer Agreement</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.customerAgreement}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{salesOrder.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{salesOrder.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.salesOrder.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{salesOrder.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.salesOrder.currency">Currency</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="salesOrder.currency">
                <a [routerLink]="['/currency', salesOrder.currency?.id]">{{salesOrder.currency?.id}}</a>
            </div>
            </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.salesOrder.merchant">Merchant</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="salesOrder.merchant">
                <a [routerLink]="['/merchant-store', salesOrder.merchant?.id]">{{salesOrder.merchant?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
