<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerAttributeLabel" jhiTranslate="eshopApp.customerAttribute.home.createOrEditLabel">Create or edit a Customer Attribute</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
        <div class="col-5 form-group" [hidden]="!customerAttribute.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customerAttribute.id" readonly />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customerAttribute.textValue" for="field_textValue">Text Value</label>
            <input type="text" class="form-control" name="textValue" id="field_textValue"
                [(ngModel)]="customerAttribute.textValue"
             />
        </div>

        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.customerAttribute.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="customerAttribute.customer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === customerAttribute.customer?.id ? customerAttribute.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
    </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
