
<div *ngIf="productOption">
	<h2 class="page-title">
		<span jhiTranslate="eshopApp.productOption.detail.title">Product Option</span>
		{{productOption.id}}
		<button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
			<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
		</button>
	</h2>
	<jhi-alert-error></jhi-alert-error>
	<section class="widget">
		<div class="body">
			<fieldset>
				<legend class="section">Info</legend>
				<div class="row">
					
					
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.code">Code</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.code}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.productOptionType">Product Option Type</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.productOptionType}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.productOptionSortOrder">Product Option Sort Order</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.productOptionSortOrder}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.productOption.merchantStore">Merchant Store</span> </label>
					<div class="col-4">
						<div *ngIf="productOption.merchantStore">
							<p class="form-control input-transparent">
								<a [routerLink]="['/merchant-store', productOption.merchantStore?.id]">{{productOption.merchantStore?.storename}}</a>
							</p>
						</div>
					</div>
					<!-- <label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.readOnly">Read Only</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.readOnly}}</span>
						</p>
					</div> -->
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">
					Option Values
					<button type="button"  [routerLink]="['/', { outlets: { popup: ['product-option-value-new'] } }]" class="btn btn-primary btn-xs pull-right" style="height: 24px;">
						<i class="fa fa-plus"></i> Add Option Values
					</button>
				</legend>
				<div class="row">
					<div class="col-8  offset-2 table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Email</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Mark</td>
									<td>Otto</td>
									<td><a href="#">ottoto@example.com</a></td>
									<td><span class="badge bg-gray-lighter text-gray fw-semi-bold">Pending</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">Audit Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.createdBy">Created By</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.createdBy}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.createdDate">Created Date</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.createdDate}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.lastModifiedBy">Last Modified By</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.lastModifiedBy}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.productOption.lastModifiedDate">Last Modified Date</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{productOption.lastModifiedDate}}</span>
						</p>
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</div>
