<div *ngIf="productOption">
<h2 class="page-title">
    <span >Create or edit</span> 
    <small> <span [hidden]="!productOption.id"> {{productOption.id}} </span></small>
</h2>
 <jhi-alert-error></jhi-alert-error>
<section class="widget">
<div class="body">
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="row justify-content-center">
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.productOption.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="productOption.code"
            required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.productOption.readOnly" for="field_readOnly">Read Only</label>
            <input type="checkbox" class="form-control" name="readOnly" id="field_readOnly"
                [(ngModel)]="productOption.readOnly"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.productOption.productOptionType" for="field_productOptionType">Product Option Type</label>
            <input type="text" class="form-control" name="productOptionType" id="field_productOptionType"
                [(ngModel)]="productOption.productOptionType"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.productOption.productOptionSortOrder" for="field_productOptionSortOrder">Product Option Sort Order</label>
            <input type="number" class="form-control" name="productOptionSortOrder" id="field_productOptionSortOrder"
                [(ngModel)]="productOption.productOptionSortOrder"
             />
        </div>
        <div class="form-group col-5">
            <label jhiTranslate="eshopApp.productOption.merchantStore" for="field_merchantStore">Merchant Store</label>
            <select class="form-control" id="field_merchantStore" name="merchantStore" [(ngModel)]="productOption.merchantStore" >
                <option [ngValue]="null"></option>
                <option [ngValue]="merchantStoreOption.id === productOption.merchantStore?.id ? productOption.merchantStore : merchantStoreOption" *ngFor="let merchantStoreOption of merchantstores; trackBy: trackMerchantStoreById">{{merchantStoreOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="form-actions">
                <div class="row">
                    <div class="offset-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
          </div>
</form>
</div>
</section>
</div>
