
<div *ngIf="productOptionValue">
    <h2><span jhiTranslate="eshopApp.productOptionValue.detail.title">Product Option Value</span> {{productOptionValue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eshopApp.productOptionValue.productOptionValueImage">Product Option Value Image</span></dt>
        <dd>
            <span>{{productOptionValue.productOptionValueImage}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.code">Code</span></dt>
        <dd>
            <span>{{productOptionValue.code}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.productOptionValueSortOrder">Product Option Value Sort Order</span></dt>
        <dd>
            <span>{{productOptionValue.productOptionValueSortOrder}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.productOptionDisplayOnly">Product Option Display Only</span></dt>
        <dd>
            <span>{{productOptionValue.productOptionDisplayOnly}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.created_by">Created By</span></dt>
        <dd>
            <span>{{productOptionValue.created_by}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.created_date">Created Date</span></dt>
        <dd>
            <span>{{productOptionValue.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.last_modified_by">Last Modified By</span></dt>
        <dd>
            <span>{{productOptionValue.last_modified_by}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.last_modified_date">Last Modified Date</span></dt>
        <dd>
            <span>{{productOptionValue.last_modified_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.merchantStore">Merchant Store</span></dt>
        <dd>
            <div *ngIf="productOptionValue.merchantStore">
                <a [routerLink]="['/merchant-store', productOptionValue.merchantStore?.id]">{{productOptionValue.merchantStore?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="eshopApp.productOptionValue.productOption">Product Option</span></dt>
        <dd>
            <div *ngIf="productOptionValue.productOption">
                <a [routerLink]="['/product-option', productOptionValue.productOption?.id]">{{productOptionValue.productOption?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-option-value/'+ productOptionValue.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
