<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductOptionValueLabel" jhiTranslate="eshopApp.productOptionValue.home.createOrEditLabel">Create or edit a Product Option Value</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
        <div class="col-5 form-group" [hidden]="!productOptionValue.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productOptionValue.id" readonly />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValue.productOptionValueImage" for="field_productOptionValueImage">Product Option Value Image</label>
            <input type="text" class="form-control" name="productOptionValueImage" id="field_productOptionValueImage"
                [(ngModel)]="productOptionValue.productOptionValueImage"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValue.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="productOptionValue.code"
            required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValue.productOptionValueSortOrder" for="field_productOptionValueSortOrder">Product Option Value Sort Order</label>
            <input type="number" class="form-control" name="productOptionValueSortOrder" id="field_productOptionValueSortOrder"
                [(ngModel)]="productOptionValue.productOptionValueSortOrder"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValue.productOptionDisplayOnly" for="field_productOptionDisplayOnly">Product Option Display Only</label>
            <input type="checkbox" class="form-control" name="productOptionDisplayOnly" id="field_productOptionDisplayOnly"
                [(ngModel)]="productOptionValue.productOptionDisplayOnly"
             />
        </div>

    </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
