
<div *ngIf="productOptionValue">
    <h2 class="page-title"><span jhiTranslate="eshopApp.productOptionValue.detail.title">Product Option Value</span> {{productOptionValue.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.productOptionValueImage">Product Option Value Image</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.productOptionValueImage}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.code">Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.code}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.productOptionValueSortOrder">Product Option Value Sort Order</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.productOptionValueSortOrder}}</span>
            </p>
        </div>
       <!--  <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.productOptionDisplayOnly">Product Option Display Only</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.productOptionDisplayOnly}}</span>
            </p>
        </div> -->
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.createdBy">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.createdBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.createdDate">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{productOptionValue.createdDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.lastModifiedBy">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{productOptionValue.lastModifiedBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.productOptionValue.lastModifiedDate">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{productOptionValue.lastModifiedDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.productOptionValue.merchantStore">Merchant Store</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="productOptionValue.merchantStore">
                <a [routerLink]="['/merchant-store', productOptionValue.merchantStore?.id]">{{productOptionValue.merchantStore?.id}}</a>
            </div>
            </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.productOptionValue.productOption">Product Option</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="productOptionValue.productOption">
                <a [routerLink]="['/product-option', productOptionValue.productOption?.id]">{{productOptionValue.productOption?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
