
<div *ngIf="manufacturer">
    <h2 class="page-title"><span jhiTranslate="eshopApp.manufacturer.detail.title">Manufacturer</span> {{manufacturer.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.order">Order</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{manufacturer.order}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.image">Image</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{manufacturer.image}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.code">Code</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{manufacturer.code}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.createdBy">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{manufacturer.createdBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.createdDate">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{manufacturer.createdDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.lastModifiedBy">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{manufacturer.lastModifiedBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.manufacturer.lastModifiedDate">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{manufacturer.lastModifiedDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.manufacturer.merchantStore">Merchant Store</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="manufacturer.merchantStore">
                <a [routerLink]="['/merchant-store', manufacturer.merchantStore?.id]">{{manufacturer.merchantStore?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
