
<div *ngIf="merchantStore">
	<h2 class="page-title">
		<span jhiTranslate="eshopApp.merchantStore.detail.title">Merchant Store</span>
		{{merchantStore.id}}
		<button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
			<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
		</button>
	</h2>
	<jhi-alert-error></jhi-alert-error>
	<section class="widget">
		<div class="body">
			<fieldset>
				<legend class="section">Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storeaddress">Storeaddress</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storeaddress}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.code">Code</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.code}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storename">Storename</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storename}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storeEmailAddress">Store Email Address</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storeEmailAddress}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.defaultStore">defaultStore</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.defaultStore}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storephone">Storephone</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storephone}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.weightunitcode">Weightunitcode</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.weightunitcode}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.useCache">Use Cache</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.useCache}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storeTemplate">Store Template</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storeTemplate}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.domainName">Domain Name</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.domainName}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.invoiceTemplate">Invoice Template</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.invoiceTemplate}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storeLogo">Store Logo</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storeLogo}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storepostalcode">Post Code</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storepostalcode}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.seizeunitcode">Seizeunitcode</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.seizeunitcode}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storestateprovince">Storestateprovince</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storestateprovince}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.continueshoppingurl">Continueshoppingurl</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.continueshoppingurl}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.storecity">Storecity</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.storecity}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.merchantStore.defaultLanguage">Default Language</span> </label>
					<div class="col-4">
						<p class="form-control input-transparent">
						<div *ngIf="merchantStore.defaultLanguage">
							<a [routerLink]="['/language', merchantStore.defaultLanguage?.id]">{{merchantStore.defaultLanguage?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.merchantStore.zone">Zone</span> </label>
					<div class="col-4">
						<p class="form-control input-transparent">
						<div *ngIf="merchantStore.zone">
							<a [routerLink]="['/zone', merchantStore.zone?.id]">{{merchantStore.zone?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.merchantStore.currency">Currency</span> </label>
					<div class="col-4">
						<p class="form-control input-transparent">
						<div *ngIf="merchantStore.currency">
							<a [routerLink]="['/currency', merchantStore.currency?.id]">{{merchantStore.currency?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.merchantStore.country">Country</span> </label>
					<div class="col-4">
						<p class="form-control input-transparent">
						<div *ngIf="merchantStore.country">
							<a [routerLink]="['/country', merchantStore.country?.id]">{{merchantStore.country?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"><span
						jhiTranslate="eshopApp.merchantStore.languages">Languages</span> </label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span *ngFor="let languages of merchantStore.languages; let last = last"> <a
								[routerLink]="['/language', languages?.id ]">{{languages.id}}</a>{{last ? '' : ', '}}
							</span>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">Audit Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.createdBy">Created By</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.createdBy}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.createdDate">Created Date</span>
					</label>
					<div class="col-4">
						<p>
							<span>{{merchantStore.createdDate}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.lastModifiedBy">Last Modified By</span>
					</label>
					<div class="col-4">
						<p class="form-control input-transparent">
							<span>{{merchantStore.lastModifiedBy}}</span>
						</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"> <span
						jhiTranslate="eshopApp.merchantStore.lastModifiedDate">Last Modified Date</span>
					</label>
					<div class="col-4">
						<p>
							<span>{{merchantStore.lastModifiedDate}}</span>
						</p>
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</div>
