<div *ngIf="customer">
<h2 class="page-title">
    <span >Create or edit</span> 
    <small> <span [hidden]="!customer.id"> #id </span></small>
</h2>
 <jhi-alert-error></jhi-alert-error>
<section class="widget">
<div class="body">
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="row justify-content-center">
       
        <div class="col-5 form-group" [hidden]="!customer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customer.id" readonly />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <div class="input-group">
                <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="customer.dateOfBirth"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateOfBirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="customer.gender" id="field_gender" >
                <option value="M" jhiTranslate="eshopApp.CustomerGender.M">M</option>
                <option value="F" jhiTranslate="eshopApp.CustomerGender.F">F</option>
            </select>
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.anonymous" for="field_anonymous">Anonymous</label>
            <input type="checkbox" class="form-control" name="anonymous" id="field_anonymous"
                [(ngModel)]="customer.anonymous"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.company" for="field_company">Company</label>
            <input type="text" class="form-control" name="company" id="field_company"
                [(ngModel)]="customer.company"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.nick" for="field_nick">Nick</label>
            <input type="text" class="form-control" name="nick" id="field_nick"
                [(ngModel)]="customer.nick"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.emailAddress" for="field_emailAddress">Email Address</label>
            <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                [(ngModel)]="customer.emailAddress"
            required />
            <div [hidden]="!(editForm.controls.emailAddress?.dirty && editForm.controls.emailAddress?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.emailAddress?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="customer.password"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.created_by" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="customer.created_by"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.created_date" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="customer.created_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.last_modified_by" for="field_last_modified_by">Last Modified By</label>
            <input type="text" class="form-control" name="last_modified_by" id="field_last_modified_by"
                [(ngModel)]="customer.last_modified_by"
             />
        </div>
        <div class="form-group col-5">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.last_modified_date" for="field_last_modified_date">Last Modified Date</label>
            <div class="input-group">
                <input id="field_last_modified_date" type="text" class="form-control" name="last_modified_date" ngbDatepicker  #last_modified_dateDp="ngbDatepicker" [(ngModel)]="customer.last_modified_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="last_modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group col-5">
            <label jhiTranslate="eshopApp.customer.merchantStore" for="field_merchantStore">Merchant Store</label>
            <select class="form-control" id="field_merchantStore" name="merchantStore" [(ngModel)]="customer.merchantStore" >
                <option [ngValue]="null"></option>
                <option [ngValue]="merchantStoreOption.id === customer.merchantStore?.id ? customer.merchantStore : merchantStoreOption" *ngFor="let merchantStoreOption of merchantstores; trackBy: trackMerchantStoreById">{{merchantStoreOption.id}}</option>
            </select>
        </div>
        <div class="form-group col-5">
            <label jhiTranslate="eshopApp.customer.defaultLanguage" for="field_defaultLanguage">Default Language</label>
            <select class="form-control" id="field_defaultLanguage" name="defaultLanguage" [(ngModel)]="customer.defaultLanguage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id === customer.defaultLanguage?.id ? customer.defaultLanguage : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="form-actions">
                <div class="row">
                    <div class="offset-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
          </div>
</form>
</div>
</section>
</div>
