<div>
    <h2>
        <span jhiTranslate="eshopApp.customer.home.title">Customers</span>
        <button class="btn btn-primary float-right create-customer" [routerLink]="['../customer-new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="eshopApp.customer.home.createLabel">
            Create new Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eshopApp.customer.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateOfBirth"><span jhiTranslate="eshopApp.customer.dateOfBirth">Date Of Birth</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gender"><span jhiTranslate="eshopApp.customer.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="anonymous"><span jhiTranslate="eshopApp.customer.anonymous">Anonymous</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="company"><span jhiTranslate="eshopApp.customer.company">Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nick"><span jhiTranslate="eshopApp.customer.nick">Nick</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="emailAddress"><span jhiTranslate="eshopApp.customer.emailAddress">Email Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="eshopApp.customer.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="merchantStore.id"><span jhiTranslate="eshopApp.customer.merchantStore">Merchant Store</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="defaultLanguage.id"><span jhiTranslate="eshopApp.customer.defaultLanguage">Default Language</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers ;trackBy: trackId">
                <td><a [routerLink]="['../customer', customer.id ]">{{customer.id}}</a></td>
                <td>{{customer.dateOfBirth | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'eshopApp.CustomerGender.' + customer.gender}}">{{customer.gender}}</td>
                <td>{{customer.anonymous}}</td>
                <td>{{customer.company}}</td>
                <td>{{customer.nick}}</td>
                <td>{{customer.emailAddress}}</td>
                <td>{{customer.password}}</td>
                <td>
                    <div *ngIf="customer.merchantStore">
                        <a [routerLink]="['../merchant-store', customer.merchantStore?.id ]" >{{customer.merchantStore?.storename}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customer.defaultLanguage">
                        <a [routerLink]="['../language', customer.defaultLanguage?.id ]" >{{customer.defaultLanguage?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer', customer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="customers && customers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
