
<div *ngIf="customer">
    <h2 class="page-title"><span jhiTranslate="eshopApp.customer.detail.title">Customer</span> {{customer.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.dateOfBirth">Date Of Birth</span>
        </label>
        <div class="col-4">
            <span>{{customer.dateOfBirth | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.gender">Gender</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.CustomerGender.' + customer.gender}}">{{customer.gender}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.anonymous">Anonymous</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.anonymous}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.company">Company</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.company}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.nick">Nick</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.nick}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.emailAddress">Email Address</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.emailAddress}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.password">Password</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.password}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.createdBy">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.createdBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.createdDate">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{customer.createdDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.lastModifiedBy">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{customer.lastModifiedBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.customer.lastModifiedDate">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{customer.lastModifiedDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.customer.merchantStore">Merchant Store</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="customer.merchantStore">
                <a [routerLink]="['/merchant-store', customer.merchantStore?.id]">{{customer.merchantStore?.id}}</a>
            </div>
            </div>
        <label class="control-label col-2 text-right no-padding-right"><span jhiTranslate="eshopApp.customer.defaultLanguage">Default Language</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <div *ngIf="customer.defaultLanguage">
                <a [routerLink]="['/language', customer.defaultLanguage?.id]">{{customer.defaultLanguage?.id}}</a>
            </div>
            </div>

</div>
</fieldset>
</div>
</section>
    
</div>
