<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductPriceDescriptionLabel" jhiTranslate="eshopApp.productPriceDescription.home.createOrEditLabel">Create or edit a Product Price Description</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
        <div class="col-5 form-group" [hidden]="!productPriceDescription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productPriceDescription.id" readonly />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productPriceDescription.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="productPriceDescription.title"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productPriceDescription.dEFAULTPRICEDESCRIPTION" for="field_dEFAULTPRICEDESCRIPTION">D EFAULTPRICEDESCRIPTION</label>
            <input type="text" class="form-control" name="dEFAULTPRICEDESCRIPTION" id="field_dEFAULTPRICEDESCRIPTION"
                [(ngModel)]="productPriceDescription.dEFAULTPRICEDESCRIPTION"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productPriceDescription.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productPriceDescription.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productPriceDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="productPriceDescription.description"
             />
        </div>

        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productPriceDescription.productPrice" for="field_productPrice">Product Price</label>
            <select class="form-control" id="field_productPrice" name="productPrice" [(ngModel)]="productPriceDescription.productPrice" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productPriceOption.id === productPriceDescription.productPrice?.id ? productPriceDescription.productPrice : productPriceOption" *ngFor="let productPriceOption of productprices; trackBy: trackProductPriceById">{{productPriceOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productPriceDescription.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="productPriceDescription.language" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id === productPriceDescription.language?.id ? productPriceDescription.language : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productPriceDescription.productPrice" for="field_productPrice">Product Price</label>
            <select class="form-control" id="field_productPrice" name="productPrice" [(ngModel)]="productPriceDescription.productPrice" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productPriceOption.id === productPriceDescription.productPrice?.id ? productPriceDescription.productPrice : productPriceOption" *ngFor="let productPriceOption of productprices; trackBy: trackProductPriceById">{{productPriceOption.id}}</option>
            </select>
        </div>
    </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
