
<div *ngIf="productImage">
    <h2><span jhiTranslate="eshopApp.productImage.detail.title">Product Image</span> {{productImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.productImage" for="field_productImage">Product Image</label>
            <input type="text" class="form-control" name="productImage" id="field_productImage"
                [(ngModel)]="productImage.productImage"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.productImageUrl" for="field_productImageUrl">Product Image Url</label>
            <input type="text" class="form-control" name="productImageUrl" id="field_productImageUrl"
                [(ngModel)]="productImage.productImageUrl"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.defaultImage" for="field_defaultImage">Default Image</label>
            <input type="checkbox" class="form-control" name="defaultImage" id="field_defaultImage"
                [(ngModel)]="productImage.defaultImage"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.imageType" for="field_imageType">Image Type</label>
            <input type="number" class="form-control" name="imageType" id="field_imageType"
                [(ngModel)]="productImage.imageType"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.imageCrop" for="field_imageCrop">Image Crop</label>
            <input type="checkbox" class="form-control" name="imageCrop" id="field_imageCrop"
                [(ngModel)]="productImage.imageCrop"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImage.content" for="field_content">Content</label>
            <div>
                <img [src]="'data:' + productImage.contentContentType + ';base64,' + productImage.content" style="max-height: 100px;" *ngIf="productImage.content" alt="productImage image"/>
                <div *ngIf="productImage.content" class="form-text text-danger clearfix">
                    <span class="pull-left">{{productImage.contentContentType}}, {{byteSize(productImage.content)}}</span>
                    <button type="button" (click)="productImage.content=null;productImage.contentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, productImage, 'content', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                [(ngModel)]="productImage.content"
            required />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                [(ngModel)]="productImage.contentContentType" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productImage.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="productImage.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productImage.product?.id ? productImage.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productImage.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="productImage.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productImage.product?.id ? productImage.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
