<jhi-page-ribbon></jhi-page-ribbon>
<div class="logo">
	<h4>
	<span jhiTranslate="global.title" class="navbar-title">Eshop</span> <span class="navbar-version">{{version}}</span>
	</h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
	<router-outlet name="menu"></router-outlet>
</nav>
<div class="wrap">
	<div>
		<header class="page-header">
			<router-outlet name="navbar"></router-outlet>
		</header>
	</div>
	<div class="content container">
		<router-outlet></router-outlet>
		<router-outlet name="popup"></router-outlet>
	</div>
</div>