<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShoppingCartItemLabel" jhiTranslate="eshopApp.shoppingCartItem.home.createOrEditLabel">Create or edit a Shopping Cart Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
        <div class="col-5 form-group" [hidden]="!shoppingCartItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shoppingCartItem.id" readonly />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.shoppingCartItem.productId" for="field_productId">Product Id</label>
            <input type="number" class="form-control" name="productId" id="field_productId"
                [(ngModel)]="shoppingCartItem.productId"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.shoppingCartItem.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="shoppingCartItem.quantity"
             />
        </div>

        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.shoppingCartItem.shoppingCart" for="field_shoppingCart">Shopping Cart</label>
            <select class="form-control" id="field_shoppingCart" name="shoppingCart" [(ngModel)]="shoppingCartItem.shoppingCart" >
                <option [ngValue]="null"></option>
                <option [ngValue]="shoppingCartOption.id === shoppingCartItem.shoppingCart?.id ? shoppingCartItem.shoppingCart : shoppingCartOption" *ngFor="let shoppingCartOption of shoppingcarts; trackBy: trackShoppingCartById">{{shoppingCartOption.id}}</option>
            </select>
        </div>
    </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
