
<div *ngIf="productOptionValueDescription">
    <h2><span jhiTranslate="eshopApp.productOptionValueDescription.detail.title">Product Option Value Description</span> {{productOptionValueDescription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValueDescription.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="productOptionValueDescription.title"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValueDescription.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productOptionValueDescription.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionValueDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="productOptionValueDescription.description"
             />
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productOptionValueDescription.productOptionValue" for="field_productOptionValue">Product Option Value</label>
            <select class="form-control" id="field_productOptionValue" name="productOptionValue" [(ngModel)]="productOptionValueDescription.productOptionValue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOptionValueOption.id === productOptionValueDescription.productOptionValue?.id ? productOptionValueDescription.productOptionValue : productOptionValueOption" *ngFor="let productOptionValueOption of productoptionvalues; trackBy: trackProductOptionValueById">{{productOptionValueOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productOptionValueDescription.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="productOptionValueDescription.language" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id === productOptionValueDescription.language?.id ? productOptionValueDescription.language : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productOptionValueDescription.productOptionValue" for="field_productOptionValue">Product Option Value</label>
            <select class="form-control" id="field_productOptionValue" name="productOptionValue" [(ngModel)]="productOptionValueDescription.productOptionValue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOptionValueOption.id === productOptionValueDescription.productOptionValue?.id ? productOptionValueDescription.productOptionValue : productOptionValueOption" *ngFor="let productOptionValueOption of productoptionvalues; trackBy: trackProductOptionValueById">{{productOptionValueOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
