
<div *ngIf="productImageDescription">
    <h2><span jhiTranslate="eshopApp.productImageDescription.detail.title">Product Image Description</span> {{productImageDescription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImageDescription.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="productImageDescription.title"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImageDescription.altTag" for="field_altTag">Alt Tag</label>
            <input type="text" class="form-control" name="altTag" id="field_altTag"
                [(ngModel)]="productImageDescription.altTag"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImageDescription.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productImageDescription.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productImageDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="productImageDescription.description"
             />
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productImageDescription.productImage" for="field_productImage">Product Image</label>
            <select class="form-control" id="field_productImage" name="productImage" [(ngModel)]="productImageDescription.productImage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productImageOption.id === productImageDescription.productImage?.id ? productImageDescription.productImage : productImageOption" *ngFor="let productImageOption of productimages; trackBy: trackProductImageById">{{productImageOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
