
<div *ngIf="customerOptionSet">
    <h2><span jhiTranslate="eshopApp.customerOptionSet.detail.title">Customer Option Set</span> {{customerOptionSet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customerOptionSet.sortOrder" for="field_sortOrder">Sort Order</label>
            <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                [(ngModel)]="customerOptionSet.sortOrder"
             />
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.customerOptionSet.customerOption" for="field_customerOption">Customer Option</label>
            <select class="form-control" id="field_customerOption" name="customerOption" [(ngModel)]="customerOptionSet.customerOption" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOptionOption.id === customerOptionSet.customerOption?.id ? customerOptionSet.customerOption : customerOptionOption" *ngFor="let customerOptionOption of customeroptions; trackBy: trackCustomerOptionById">{{customerOptionOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.customerOptionSet.customerOptionValue" for="field_customerOptionValue">Customer Option Value</label>
            <select class="form-control" id="field_customerOptionValue" name="customerOptionValue" [(ngModel)]="customerOptionSet.customerOptionValue" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOptionValueOption.id === customerOptionSet.customerOptionValue?.id ? customerOptionSet.customerOptionValue : customerOptionValueOption" *ngFor="let customerOptionValueOption of customeroptionvalues; trackBy: trackCustomerOptionValueById">{{customerOptionValueOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
