
<div *ngIf="customerOptionValue">
    <h2><span jhiTranslate="eshopApp.customerOptionValue.detail.title">Customer Option Value</span> {{customerOptionValue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customerOptionValue.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="customerOptionValue.code"
            required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customerOptionValue.customerOptionValueImage" for="field_customerOptionValueImage">Customer Option Value Image</label>
            <input type="text" class="form-control" name="customerOptionValueImage" id="field_customerOptionValueImage"
                [(ngModel)]="customerOptionValue.customerOptionValueImage"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customerOptionValue.sortOrder" for="field_sortOrder">Sort Order</label>
            <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                [(ngModel)]="customerOptionValue.sortOrder"
             />
        </div>

    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
