
<div *ngIf="emailTemplate">
    <h2 class="page-title"><span jhiTranslate="eshopApp.emailTemplate.detail.title">Email Template</span> {{emailTemplate.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.name">Name</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.name}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.subject">Subject</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.subject}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.content">Content</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.content}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.actionKey">Action Key</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.actionKey}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.createdBy">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.createdBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.createdDate">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{emailTemplate.createdDate | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.lastModifiedBy">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailTemplate.lastModifiedBy}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailTemplate.lastModifiedDate">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{emailTemplate.lastModifiedDate | date:'mediumDate'}}</span>
            </p>
        </div>

</div>
</fieldset>
</div>
</section>
    
</div>
