
<div *ngIf="emailTemplate">
    <h2><span jhiTranslate="eshopApp.emailTemplate.detail.title">Email Template</span> {{emailTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.emailTemplate.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="emailTemplate.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.emailTemplate.subject" for="field_subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="field_subject"
                [(ngModel)]="emailTemplate.subject"
            required />
            <div [hidden]="!(editForm.controls.subject?.dirty && editForm.controls.subject?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subject?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.emailTemplate.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                [(ngModel)]="emailTemplate.content"  ></textarea>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.emailTemplate.actionKey" for="field_actionKey">Action Key</label>
            <input type="text" class="form-control" name="actionKey" id="field_actionKey"
                [(ngModel)]="emailTemplate.actionKey"
             />
        </div>

    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
