
<div *ngIf="productRelationship">
    <h2><span jhiTranslate="eshopApp.productRelationship.detail.title">Product Relationship</span> {{productRelationship.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productRelationship.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="productRelationship.code"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productRelationship.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="productRelationship.active"
             />
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productRelationship.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="productRelationship.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productRelationship.product?.id ? productRelationship.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productRelationship.relatedProduct" for="field_relatedProduct">Related Product</label>
            <select class="form-control" id="field_relatedProduct" name="relatedProduct" [(ngModel)]="productRelationship.relatedProduct" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productRelationship.relatedProduct?.id ? productRelationship.relatedProduct : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productRelationship.store" for="field_store">Store</label>
            <select class="form-control" id="field_store" name="store" [(ngModel)]="productRelationship.store" >
                <option [ngValue]="null"></option>
                <option [ngValue]="merchantStoreOption.id === productRelationship.store?.id ? productRelationship.store : merchantStoreOption" *ngFor="let merchantStoreOption of merchantstores; trackBy: trackMerchantStoreById">{{merchantStoreOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productRelationship.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="productRelationship.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productRelationship.product?.id ? productRelationship.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
