<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductOptionDescriptionLabel" jhiTranslate="eshopApp.productOptionDescription.home.createOrEditLabel">Create or edit a Product Option Description</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row justify-content-center">
        <div class="col-5 form-group" [hidden]="!productOptionDescription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productOptionDescription.id" readonly />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.productOptionComment" for="field_productOptionComment">Product Option Comment</label>
            <input type="text" class="form-control" name="productOptionComment" id="field_productOptionComment"
                [(ngModel)]="productOptionDescription.productOptionComment"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="productOptionDescription.title"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productOptionDescription.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="productOptionDescription.description"
             />
        </div>

        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productOptionDescription.productOption" for="field_productOption">Product Option</label>
            <select class="form-control" id="field_productOption" name="productOption" [(ngModel)]="productOptionDescription.productOption" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOptionOption.id === productOptionDescription.productOption?.id ? productOptionDescription.productOption : productOptionOption" *ngFor="let productOptionOption of productoptions; trackBy: trackProductOptionById">{{productOptionOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productOptionDescription.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="productOptionDescription.language" >
                <option [ngValue]="null"></option>
                <option [ngValue]="languageOption.id === productOptionDescription.language?.id ? productOptionDescription.language : languageOption" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.id}}</option>
            </select>
        </div>
        <div class="col-5 form-group">
            <label jhiTranslate="eshopApp.productOptionDescription.productOption" for="field_productOption">Product Option</label>
            <select class="form-control" id="field_productOption" name="productOption" [(ngModel)]="productOptionDescription.productOption" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOptionOption.id === productOptionDescription.productOption?.id ? productOptionDescription.productOption : productOptionOption" *ngFor="let productOptionOption of productoptions; trackBy: trackProductOptionById">{{productOptionOption.id}}</option>
            </select>
        </div>
    </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
