
<div *ngIf="productOptionDescription">
    <h2><span jhiTranslate="eshopApp.productOptionDescription.detail.title">Product Option Description</span> {{productOptionDescription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row justify-content-center">
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.productOptionComment" for="field_productOptionComment">Product Option Comment</label>
            <input type="text" class="form-control" name="productOptionComment" id="field_productOptionComment"
                [(ngModel)]="productOptionDescription.productOptionComment"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="productOptionDescription.title"
             />
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productOptionDescription.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="col-5 form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.productOptionDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="productOptionDescription.description"
             />
        </div>

        <div class="col-5 form-group ">
            <label jhiTranslate="eshopApp.productOptionDescription.productOption" for="field_productOption">Product Option</label>
            <select class="form-control" id="field_productOption" name="productOption" [(ngModel)]="productOptionDescription.productOption" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOptionOption.id === productOptionDescription.productOption?.id ? productOptionDescription.productOption : productOptionOption" *ngFor="let productOptionOption of productoptions; trackBy: trackProductOptionById">{{productOptionOption.id}}</option>
            </select>
        </div>
    </div>

    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="submit" [disabled]="editForm.form.invalid || isSaving"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span
                jhiTranslate="entity.action.save">Save</span>
    </button>
    </form>
</div>
