
<div *ngIf="emailSetting">
    <h2 class="page-title"><span jhiTranslate="eshopApp.emailSetting.detail.title">Email Setting</span> {{emailSetting.id}}
        <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
            <span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>

    <section class="widget">
        <div class="body">
            <fieldset>
                <legend class="section">Info</legend>
                <div class="row">
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.host">Host</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.host}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.port">Port</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.port}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.smtpSecurity">Smtp Security</span>
        </label>
        <div class="col-4">
            <p class="form-control input-transparent">
            <span jhiTranslate="{{'eshopApp.SMTPSecurityEnum.' + emailSetting.smtpSecurity}}">{{emailSetting.smtpSecurity}}</span>
            </p>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.fromAddress">From Address</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.fromAddress}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.userName">User Name</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.userName}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.password">Password</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.password}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.created_by">Created By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.created_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.created_date">Created Date</span>
        </label>
        <div class="col-4">
            <span>{{emailSetting.created_date | date:'mediumDate'}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.last_modified_by">Last Modified By</span>
        </label>
        <div class="col-4">
             <p class="form-control input-transparent">
            <span>{{emailSetting.last_modified_by}}</span>
            </p>
        </div>
        <label class="control-label col-2 text-right no-padding-right" >
        <span jhiTranslate="eshopApp.emailSetting.last_modified_date">Last Modified Date</span>
        </label>
        <div class="col-4">
            <span>{{emailSetting.last_modified_date | date:'mediumDate'}}</span>
            </p>
        </div>

</div>
</fieldset>
</div>
</section>
    
</div>
