
<div *ngIf="integrationModule">
    <h2><span jhiTranslate="eshopApp.integrationModule.detail.title">Integration Module</span> {{integrationModule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eshopApp.integrationModule.configDetails">Config Details</span></dt>
        <dd>
            <span>{{integrationModule.configDetails}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.customModule">Custom Module</span></dt>
        <dd>
            <span>{{integrationModule.customModule}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.type">Type</span></dt>
        <dd>
            <span>{{integrationModule.type}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.code">Code</span></dt>
        <dd>
            <span>{{integrationModule.code}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.regions">Regions</span></dt>
        <dd>
            <span>{{integrationModule.regions}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.image">Image</span></dt>
        <dd>
            <span>{{integrationModule.image}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.module">Module</span></dt>
        <dd>
            <span>{{integrationModule.module}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.configuration">Configuration</span></dt>
        <dd>
            <span>{{integrationModule.configuration}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.createdBy">Created By</span></dt>
        <dd>
            <span>{{integrationModule.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.createdDate">Created Date</span></dt>
        <dd>
            <span>{{integrationModule.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{integrationModule.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.integrationModule.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{integrationModule.lastModifiedDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'integration-module/'+ integrationModule.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
