<h2 class="page-title">
	 <span class="fw-semi-bold">Products</span> <small>images</small>
</h2>
<jhi-alert-error></jhi-alert-error>
<div class="row">
	<div class="col-12">
		<section widget class="widget">
			<div class="widget-body">
					<div class="form-actions fileupload-buttonbar no-margin">
						<button class="btn btn-default add-files-btn fileinput-button mr-xs">
							<i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> <input type="file"
								(change)="setFileData($event,'content', false)"
								jhiTranslate="entity.action.addblob">
						</button>
					</div>
				<table role="presentation" class="table table-striped files-table">
					<tbody class="files">
						<tr class="template-upload fade" *ngFor="let item of attachments">
							<td>
								<img src="data:{{item?.contentContentType}};base64,{{item?.content}}" class="thumbnail" style="width:65px;height: 65px">
							</td>
							<td>
								<p class="name">{{ item?.name }}</p> <strong class="error text-danger"></strong>
							</td>
							<td>
								<p class="size">{{ item?.size/1024 | number:'.2' }} KB</p>
							</td>
							<td class="width-150">
								<button class="btn btn-danger btn-sm delete" >
									<i class="glyphicon glyphicon-trash"></i> <span>Delete</span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
