<div *ngIf="product">
	<div class="row">
		<h2 class="col-10 page-title">
			<span jhiTranslate="eshopApp.product.detail.title">Product</span> <small>{{product.id}}</small>
			<!-- <button type="button" class="btn btn-primary pull-right" [routerLink]="['edit']">
			<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
		</button> -->
		</h2>
		<div class="col-2" style="padding-top: 10px;">
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
					<span class="fa fa-pencil"></span></span>&nbsp;<span jhiTranslate="eshopApp.product.actions.main">&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</span>
				</button>
				<div class="dropdown-menu " aria-labelledby="dropdownBasic1">
					<button type="button" class="dropdown-item" [routerLink]="['attachments']">
						<span jhiTranslate="eshopApp.product.actions.editImages">Edit Images</span>
					</button>
					<button type="button" class="dropdown-item">
						<span jhiTranslate="eshopApp.product.actions.editSKU" [routerLink]="['skus']">Edit SKUs</span>
					</button>
					<button type="button" class="dropdown-item">
						<span jhiTranslate="eshopApp.product.actions.editSEO">Edit SEOs</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<section class="widget">
		<div class="body">
			<fieldset>
				<legend class="section">Basic Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.name">Name</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.name}}</p>
					</div>
					<!-- <label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productShipeable">Product Shipeable</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productShipeable}}</p>
					</div> -->
					<!-- <label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productOrdered">Product Ordered</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productOrdered}}</p>
					</div> -->
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.dateAvailable">Date Available</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.dateAvailable | date:'mediumDate'}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.sortOrder">Sort Order</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.sortOrder}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.available">Available</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.available}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.sku">Sku</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.sku}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.manufacturer">Manufacturer</label>
					<div class="col-4">
						<div *ngIf="product.manufacturer">
							<a [routerLink]="['/manufacturer', product.manufacturer?.id]">{{product.manufacturer?.id}}</a>
						</div>
					</div>
					<!-- <label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.type">Type</label>
					<div class="col-4">
						<div *ngIf="product.type">
							<a [routerLink]="['/product-type', product.type?.id]">{{product.type?.id}}</a>
						</div>
					</div> -->
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.merchantStore">Merchant Store</label>
					<div class="col-4">
						<div *ngIf="product.merchantStore">
							<a [routerLink]="['/merchant-store', product.merchantStore?.id]">{{product.merchantStore?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.taxClass">Tax Class</label>
					<div class="col-4">
						<div *ngIf="product.taxClass">
							<a [routerLink]="['/tax-class', product.taxClass?.id]">{{product.taxClass?.id}}</a>
						</div>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.categories">Categories</label>
					<div class="col-4">
						<span *ngFor="let categories of product.categories; let last = last"> <a
							[routerLink]="['/category', categories?.id ]">{{categories.id}}</a>
						</span>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">Price Info</legend>
				<div class="row">price ....</div>
			</fieldset>
			<fieldset>
				<legend class="section">SEO Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.searchUrl">SeUrl</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.searchUrl}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.metatagKeywords">Metatag Keywords</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.metatagKeywords}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.metatagTitle">Metatag Title</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.metatagTitle}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.metatagDescription">Metatag Description</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.metatagDescription}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productHighlight">Product Highlight</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productHighlight}}</p>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">Shipping Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productHeight">Product Height</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productHeight}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productWeight">Product Weight</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productWeight}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productWidth">Product Width</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productWidth}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.productLength">Product Length</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.productLength}}</p>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="section">Audit Info</legend>
				<div class="row">
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.createdBy">Created By</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.createdBy}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.createdDate">Created Date</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.createdDate | date:'mediumDate'}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.lastModifiedBy">Last Modified By</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.lastModifiedBy}}</p>
					</div>
					<label class="control-label col-2 text-right no-padding-right"
						jhiTranslate="eshopApp.product.lastModifiedDate">Last Modified Date</label>
					<div class="col-4">
						<p class="form-control input-transparent">{{product.lastModifiedDate | date:'mediumDate'}}</p>
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</div>
