
<div *ngIf="shoppingCart">
    <h2><span jhiTranslate="eshopApp.shoppingCart.detail.title">Shopping Cart</span> {{shoppingCart.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eshopApp.shoppingCart.customerId">Customer Id</span></dt>
        <dd>
            <span>{{shoppingCart.customerId}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.shoppingCartCode">Shopping Cart Code</span></dt>
        <dd>
            <span>{{shoppingCart.shoppingCartCode}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.createdBy">Created By</span></dt>
        <dd>
            <span>{{shoppingCart.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.createdDate">Created Date</span></dt>
        <dd>
            <span>{{shoppingCart.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{shoppingCart.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{shoppingCart.lastModifiedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.shoppingCart.merchantStore">Merchant Store</span></dt>
        <dd>
            <div *ngIf="shoppingCart.merchantStore">
                <a [routerLink]="['/merchant-store', shoppingCart.merchantStore?.id]">{{shoppingCart.merchantStore?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shopping-cart/'+ shoppingCart.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
